@charset "utf-8";

/*
2024-08-22 - добавлен функционал Вкладки 2.0

2023-10-04 - все-все-все размеры шрифтов 19px заменены на 20px

2019-09-14 - div.answer - removed "float" and "width"
				 #content - removed "overflow:hidden"
2019-09-17 - td,th - font-size: 21px;
				 th - font-weight: bold
2019-09-20 - move question specific styles to external css - default.css and mpu.css
*/

button { border-radius:0px;border:1px solid #666688; background-color: #F0F0FF; padding:4px; }
button:hover { cursor:pointer; /* background-color: #FaFaFF; */ }

input { padding:2px; }
img { vertical-align:middle; }

/* Убираем стрелочки в числовых input'ах */
input[type='number'] { -moz-appearance:textfield; }
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none; }

/* используется в отчете report.php */
#who {width:100%; margin: 0px 0px 0px 20px;
FONT-SIZE: 12px; FONT-FAMILY: Tahoma, Arial, Helvetica, Verdana; text-decoration: none; color="#666666";
background: url('./img/user.png');
background-position:top left; background-repeat: no-repeat;
padding-left: 55px; 
border-bottom: 1px dotted #999999;
}
#whot { width: 760px; }
#whot th { text-align: right;}
#whot td { padding-left:10px; text-decoration: none; }


* { margin:0px;  font-size:20px; FONT-FAMILY: Tahoma, Arial, Helvetica, Verdana; }
html { height:100%; }
body { min-height:100%; position:relative; min-width:800px; FONT-FAMILY: Tahoma, Arial, Helvetica, Verdana; }
* html body { height:100%; }

#header { background:#ffffff;  padding:0px 0px 0px 0px; margin-bottom:5px;}

#content {
	width:1200px;
	padding-left:10px;
	/* padding-bottom:80px; */
	padding-bottom:20px;
	padding-top:20px;
	/*width:expression(document.body.clientWidth > 800 ? "100%" : "800px");*/
/* overflow:hidden; */
}

/* отображение инструкции */
#help {
	background: url('./img/rainbow.jpg');	
	width:950px;
	background-color:#f0f0ff;
	border: 1px solid #bbbbcc;
	margin:20px;
	padding:10px;
	FONT-SIZE: 20px;
	FONT-FAMILY: Tahoma, Arial, Helvetica, Verdana;
	line-height: 1.5;
	text-decoration: none;
	color="#000033";
}

#footer { position:absolute; bottom:0px; width:100%; background:#f0f0f0; background: url('./img/i_05.jpg'); background-position:center; background-repeat: repeat-x;
color:#c0c0c0; text-align:center; font-size: 13px; padding:2px 0px 2px 0px;}

/* div-контейнер самого задания и приема ответов */
#QuestionTest {width:1020px; margin: 0px 5px 0px 5px; padding:0px; }

/* отображение таймера */
#topline { position:fixed; top:0px; right:0px; float:right; font-size:13px; color:#aaaacc; margin-right:10px; padding:0px; }

/* горизонтальный блок во всю страницу сразу под логотипом, в котором мы отображаем заголовок страницы крупным шрифтом */
div.subheader {
	height:57px;
	background-color: #EDF6FF;
	border:1px solid #CCDDFF;
	background: url('./img/fon2.png');
	clear:both;
	padding-left:20px;
}

/* он же, но когда тестирование уже идёт (например, меньшего размера) */
div.subheader2x {
	height:90px;
	background-color:#f0f0f0;
	border:1px solid #CCDDFF;
	clear:both;
}

/* Вход в систему - два вложенных div'а */
div.auth       {
/*border-radius: 12px;*/
	background: url("./img/fon1.png");
	background-color: #ddffcc;
	position:relative;
    left:50%;
    margin-left:-200px;
    width:400px;
	margin-top:100px;
	font-size: 20px;
	color : #003300;
	border: 1px solid black;
}
div.auth2      {
	background: url("./img/user_logo.png");
	background-position:left top;
	background-repeat:no-repeat;
	width:100%;
	margin:0px;
	text-align: center;
}

/* Выбор варианта тестирования*/
div.ChooseVar     {
	position:relative;
	display: block;
	width:900px;
	background-color: #F6F9F9; /* #f5f5ff;  #FAFAFF; */
	font-size: 20px;
	color : #000033; margin:30px; padding: 10px; clear:left; border: 1px solid #DDEEFF; text-align: center;
}

/* Отображение прямоугольника с выбираемым вариантом */
div.test       {
	position:relative;
	cursor: pointer;
	display: block;
	margin: 10px;
	background-color: #e0f0f0;
	color : #000033;
	padding: 10px 60px 10px 10px;
	clear:left;
	border: 1px solid #9999aa;
	text-align: left;
}

div.test font.TestID {
	position:absolute;
	bottom:1px;
	right:1px;
	color:#aaaaaa;
	font-size:9px;
}

div.test font.TTime {
	position:absolute;
	right:1px;
	color:#aaaaaa;
	font-size:12px;
}

div.test font.TTimeSV {
	position:absolute;
	right:1px;
	color:#996600;
	font-size:12px;
}

div.test:hover { background: #eafafa; }
.test a { font-size:20px;color:#660000;text-decoration:none; }
div.test:hover a { color:#dd0000; }

div.test.dis { color:#aaaaaa; background-color:#e0e0e0; }
div.test.dis a { color:#aaaaaa; background-color:#e0e0e0; }

/* Ввод фамилии или класса - два вложенных div'а */
div.class       {
/*	background: url("./img/fon1.png");background-repeat:repeat-y; */
	background-color: #FAFAFF;
	position:relative; left: 50%; margin-left:-300px; width:600px; 
	margin-top:50px;
	padding:20px;
	font-size: 20px;
	color : #000033;
	border:1px solid #DDEEFF;
}

div.class2	{
	FONT-SIZE: 20px;
	margin:20px;
}

div.answer {
	background-color: #e0f0f0;
	font-size: 20px;
	color: #000033;
	padding: 10px 15px 10px 15px;
	margin: 5px;
	border: 1px solid #ccc;
	text-align: left;
	vertical-align: top;
	cursor:pointer;
}
div.answer:hover { background-color: #eafafa; color:#000044; }

/* прямоугольник+контейнер для варианта ответа */
div.answer_flex {
	display:flex;
	background-color: #e0f0f0;
	font-size: 20px;
	color: #000033;
	padding: 10px 15px 10px 15px;
	margin: 5px;
	border: 1px solid #ccc;
	text-align: left;
	vertical-align: top;
	cursor:pointer;
	max-width:1000px;
}
div.answer_flex:hover { background-color: #eafafa; color:#000044; }

div.vo_number_container {
	/* border:1px solid red; */
}

div.vo_number {
	width:35px;
}

div.vo_number font.qn {
	display:none;
}

div.vo_text_container {
position:relative;
/* border:1px solid blue; */
}

div.vo_text {
font-size:20px;
}

input[type=checkbox] { height: 23px;width: 23px; }
/*
input[type=checkbox] { height: 23px;width: 23px;position:relative;float:left; left:-5px; top:-1px; }
*/
input[type=radio] {height: 21px;width: 21px; margin:3px; position:relative; top:5px;}

/* номер варианта ответа, отображается сверху слева, рядом с галкой/радиокружочком */
font.qn { position:relative; color:#9999cc; float:left; left:-10px; top:0px; }
input.aanswer { height: 23px;width: 23px;position:relative; color:#66aa66; float:left; left:-5px; top:-4px; }

div.question {
	clear:left;
	background-color: #ffffff;
	font-size: 20px;
	color: #006600;
	padding: 10px 5px 10px 5px;
	margin: 10px;
	clear:left;
}

div.qnum     { border-radius: 0px; cursor: pointer; background: #ffffff; font-size: 20px; color : #003300; padding: 2px 3px 2px 3px; float:left; margin: 4px; border: 1px solid #333399; text-align: center; width:20px; }
div.qnumcur  { cursor: pointer; background: #ffffff; font-size: 20px; color : #003300; padding: 2px 3px 2px 3px; float:left; margin: 2px; border: 3px solid; border-color: #FF0000; text-align: center; width:20px; }

div.qnuml    { cursor: pointer; background: #ffffff; font-size: 20px; color : #003300; padding: 2px 3px 2px 3px; float:left; margin: 4px; border: 1px solid; text-align: center;}
div.qramka	 { margin: 2px; border: 3px solid; border-color: #ff4444; }
div.QuestionBody { clear:left; background: #ffffff;  padding: 0px 50px 0px 5px;}
div.qnum:hover { background: #f0f0f0; }

div.cnum       { position:relative; cursor: pointer; background: #ffffff; font-size: 20px; color : #003300; padding: 10px; float:left; margin: 5px; border: 1px solid; text-align: center; width:40px; }
div.cnum:hover { background: #f0f0f0; }

div.testdis       { cursor: pointer; display: block; margin: 10px; background: #ffffff; font-size: 20px; color : #ccddcc; padding: 10px 10px 10px 40px; clear:left; border: 1px dotted ; text-align: left; width:90%; }
div.notice {
	position:relative;
    left:50%;
    margin-left:-180px;
	width:400px;
	color : #003300;
	font-size: 16px;
	border:0px solid;
}

a:link,a:visited,a:active { text-decoration: none; color:#0000aa; }
a:hover { text-decoration: none; color:#dd0000; }

body { min-height:100%; position:relative; min-width:800px; }

#min_width { width:800px; }
td {font-size: 20px; font-family: Tahoma, Arial, Helvetica, Verdana; text-decoration: none;}
th {font-size: 20px; font-family: Tahoma, Arial, Helvetica, Verdana; text-decoration: none; font-weight: bold}

tr td .half    { background: #99dd77; padding:5px; }
tr td .right    { background: #77ff77; padding:5px; }
tr td .wrong    { background: #ff9999; padding:5px; }
tr td .noanswer { background: #ffff77; padding:5px; }

tr.header { background: #C2D1B1; }
th.r {text-align: right; padding:5px;}

table.res_table td {font-size:20px;}

textarea {
 COLOR: #333333;
 BORDER-BOTTOM: #666666 1px solid;
 BORDER-LEFT: #666666 1px solid;
 BORDER-RIGHT: #666666 1px solid;
 BORDER-TOP: #666666 1px solid;
 FONT-FAMILY: Tahoma, Arial, Helvetica, Verdana;
 FONT-SIZE: 20px;
}

select {
 COLOR: #333333;
 BORDER-BOTTOM: #666666 1px solid;
 BORDER-LEFT: #666666 1px solid;
 BORDER-RIGHT: #666666 1px solid;
 BORDER-TOP: #666666 1px solid;
 FONT-FAMILY: Tahoma, Arial, Helvetica, Verdana;
 FONT-SIZE: 20px;
}

#tooltip{
	background: #ffffff;
	font-size: 10px;
	width:auto;
	border:1px solid #778899;
	border-left:5px solid #ff9f00;
	color: #333333;
	font-family: verdana, arial, helvetica, sans-serif;
	opacity: 0.91;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=91);
	line-height:15px; 	z-index:100;
	margin:0px;
	padding: 3px;
	position: absolute;
	visibility: hidden;
	border-collapse: separate;
}


a img { border: none; }
  
/* =============================================================================================================== */
/* =============================================================================================================== */
/* =============================================================================================================== */
/* =============================================================================================================== */

td { font-size: 20px; }
td.b { font-size: 20px; }

td.ar { text-align: right; }
td.al { text-align: left; }
td.ac { text-align: center; }

td.r { background: #ffcccc; }
td.g { background: #ccffcc; }
td.y { background: #FFFF99; }

td.mark { background: #f0f0f0; text-align: center; padding:26px; color : #cc0000;}

tr.xls	{   text-align: center; margin: 0px 0px 0px 0px;   color : #000000;    font-size: 20px; background: #c5a465; }
tr.head	{   text-align: center; margin: 0px 0px 0px 0px;   color : #000000;    font-size: 20px; background: #D5B475; }
tr.line0	{   text-align: center; margin: 0px 0px 0px 0px;   color : #000000;   font-size: 20px; background: #dddddd; }
tr.line1	{   text-align: center; margin: 0px 0px 0px 0px;   color : #000000;   font-size: 20px; background: #eeeeee; }

tr.line2	{   text-align: center; margin: 0px 0px 0px 0px;   color : #000000;   font-family: Courier;   font-size: 20px; background: #ffffff; }

tr.bline0	{   text-align: center; margin: 0px 0px 0px 0px;   color : #000000;   font-size: 20px; background: #dddddd; }
tr.bline1	{   text-align: center; margin: 0px 0px 0px 0px;   color : #000000;   font-size: 20px; background: #eeeeee; }

td {margin: 20px; }	

div.ok { background: #ccffcc; border: 1px dashed; font-size: 20px; width:40%; color : #006600; padding: 10px;}
div.err { background: #ffcccc; border: 1px dashed; font-size: 20px; width:40%; color : #660000; padding: 10px;}
div.i { background: #E8E6D2; border: 1px solid; font-size: 20px; color : #006600; padding: 10px;}

#res td {padding:2px; }
#res th {padding:2px; }

.link {text-align:left;cursor:pointer;padding:10px}
.link:hover {background:#ffffaa}

button.qnum {border-radius: 0px; cursor: pointer; background: #ffffff; font-size: 20px; color : #003300; padding: 2px 3px 2px 3px; float:left; margin: 4px; border: 1px solid #333399; text-align: center; min-width: 30px;}
button.qnum:hover { background: #f0f0f0; }
button.qramka	 { margin-top:2px; padding:1px 3px 1px 3px; border: 3px solid; border-color: #ff4444; }
button.yellow	{background: #ffff88; }
button.yellow:hover	{background: #f0f044; }

li {margin-left:0px; padding-left:0px; }

table.voz td { vertical-align:top; }

/* == Вкладки 2.0 == */

.xtab { display:none; }
#xmenu { }
#xcontent { padding:0px; border:1px solid #888888; overflow-y:scroll; resize:vertical; }

a.tab_link {
	border: 2px solid #888888;
	border-bottom: hidden;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding:1px 5px;
	margin-right:3px;
	background-color:#f4f4f4;
}
a.act { font-weight: bold; background-color:#ffffff; color:black; }

label {
    cursor: pointer;
    color: #0000aa;
}

.xbold { font-weight:bold; font-style:italic; border-bottom:1px dashed #888888; color:blue; }