/*
input {
 font-family: Tahoma,Serif;
 font-size:19px
}

p.MsoNormal, li.MsoNormal, div.MsoNormal {font-size:19px; font-family:Tahoma,Serif; text-indent:0px; }
p, li, div { font-size:19px; font-family:Tahoma,Serif; }

sub { font-size:13px; color:#222222; }
*/